$plava: #007bff;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins, "Open Sans", sans-serif
}

ul {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.underline {
    width: 70px;
    height: 5px;
    border-bottom: 4px solid $plava;
    margin: 10px auto;
    margin-bottom: 40px;
}

.sectionTitle {
    text-align: center;
    padding-top: 60px;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.backgroundImage {
    min-height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 60px;
}

button {
    text-transform: uppercase;
}

.transparent {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* HEADER */
.hero {
    width: 100%;
    min-height: 80vh;
    background-image: url('../img/header.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;

    #nav-fluid {
        width: 100%;
    }

    .logo {
        padding-bottom: 1rem;
    }

    a {
        text-transform: uppercase;
        font-size: 16px;

        &:hover {
            color: $plava;
            transition: color 0.5s;
        }
    }

    #headerText {
        text-align: center;
        margin-top: 7%;

        h1 {
            color: $plava;
        }
        p {
            font-size: 1.4rem;
        }
    }
}

#heroIndex {
    position: relative;
    margin-bottom: -60px;
}

.blueButton {
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 16px;
}


/* FYP */
#fyp {
    min-height: 400px;

    select {
        margin-bottom: 1.5rem;
    }

    button {
        margin-top: 20px;
    }

}

.containerEdge {
    position: relative;
    z-index: 2;
    background-color: #fff;

    .sectionTitle {
        padding-top: 30px;
    }
}


/* SERVICES */
#services {
    min-height: 480px;
    background-image: url('../img/service.webp');
    background-size: cover;
    background-position: center;
    padding: 60px 0px;
    color: #fff;

    #statsImg {
        padding-right: 40px;
    }
    
    .sectionTitle {
        padding-top: 0px;
        text-align: left;
    }

    .underline {
        margin: 10px 0px 30px;
    }

}

.iconwtext {
    margin-bottom: 30px;

    i {
        height: 60px;
        width: 60px;
        background: $plava;
        border-radius: 50%;
        text-align: center;
        padding: 14px;
        font-size: 24px;
        margin-right: 30px;
        display: inline-block;
    }
    div {
        width: 100%;

        p {
            font-size: 13px;
        }
    }
}

/* FEATURED PROPERTY */
#featured {
    background-color: #f0f2f7;
    min-height: 550px;
    padding: 60px 0px;

    .sectionTitle {
        padding-top: 0px;
        text-align: left;
    }
    
    .underline {
        margin: 10px 0px 30px;
    }

    #desc {
        background-color: #fff;
        width: 100%;
        padding: 3rem 4.2rem;
        line-height: 2;
        position: relative;
        top: 0px;

        p {
            margin: 20px 0px;

            &:first-child {
                margin-top: 0px;
            }
        }
    }

    #featuredImg {
        position: relative;
        top: 0px;
        padding: 0px !important;

        img {
            width: 100%;
        }
    }

    #desc:hover, #featuredImg:hover {
        box-shadow: 1px 8px 20px grey;
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        top: -5px;
    }

}

/* SUCCESS */
#success {
    background-image: url('../img/success.jpeg');
    color: #fff;
    z-index: 1;
    margin-bottom: -60px;

    .transparent {
        background-color: rgba(0, 0, 0, 0.7) !important;
    }
    
    #stats {
        margin-top: 10%;
        text-align: center;
        text-transform: uppercase;

        p {
            font-size: 1.5em;
        }

        .number {
            font-size: 1.5em;
            color: $plava;
        }
    }
}


/* LATEST LIST */
#latest  {
    padding-bottom: 60px;
    background-color: #f0f2f7;

    .containerEdge {
        background-color: #f0f2f7;
    }
    
    .overlay {
        opacity: 0;
        transition: opacity .5s ease-out;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 90%;
    }
    
    .imgContainer {
        position: relative;
        color: #fff;
        margin-bottom: 30px;

        &:hover {
            .overlay {
                opacity: 1;
            }
        }

        p {
            font-size: 17px;
            color: #000;
        }

        img {
            position: relative;

            &:hover {
                box-shadow: 1px 8px 20px grey;
                transition: all 0.5s cubic-bezier(.25,.8,.25,1);
                opacity: 0.8;
            }
        }
    }

    .leftbottom {
        position: absolute;
        bottom: 0px;
        left: 20px;
    }

    .rightbottom {
        position: absolute;
        bottom: 0px;
        right: 20px;
    }
}


/* NEWSLETTER */
#newsletter {
    margin: 60px auto;

    // input {
    //     width: 60%;
    //     margin-right: 40px;
    //     margin-left: 80px;
    // }

    button {
        padding: 5px 40px;
    }
}


/* FOOTER */
footer {
    background-color: #f0f2f7;
    padding-top: 60px;
    padding-bottom: 20px;

    h3 {
        color: $plava;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    button {
        padding: 5px 30px;
    }

    .useful ul li {
        display: inline-block;
    }

    .quickLinks a {
        font-size: 16px;

        &:hover {
            color: $plava;
            transition: color 0.5s;
        }
    }
}

.useful, .custom {
    .fa {
    height: 40px;
    width: 40px;
    background: $plava;
    border-radius: 50%;
    text-align: center;
    padding: 11px;
    font-size: 15px;
    margin-right: 20px;
    display: inline-block;

    &:hover {
        border-color: $plava;
    }
    
    }
}

textarea {
        resize: none;
}

/* ABOUT PAGE */
#aboutHero {
    min-height: 400px;
    background-image: url('../img/about.jpeg');
}

#about {
    margin: 60px auto;

    #aboutTitle {
        font-size: 3.5vw;
        font-weight: 600;
    }

    p {
        font-size: 1.2em;
        line-height: 2;
    }
}

.breadcrumb  {
    padding: 1rem 0px;
    
    a {
        font-size: 20px;
    }
}

#meet {
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.2rem;
    }

    p > a {
        border-bottom: 1px solid $plava;
    }
}
/* TESTIMONIALS */
#testimonials {
    background-image: url('../img/review-bg.webp');
    background-position: center;
    background-size: cover;
    padding-bottom: 60px;
    color: #fff;


    .slider .slides {
        background: none;
    }

    .slides q {
        font-size: 2rem;
    }

    .slides p {
        font-size: 1.5rem;
    }

    .slides p:first-child {
        margin-top: 30px;
    }


}

#meet {
    height: 400px;
    background-color: #f0f2f7;
    padding: 60px 0px;

    div {
        background-color: #fff;
        padding-top: 70px;
        text-align: center;
    }
}


/* BUY PAGE */
#buyHero {
    min-height: 400px;
    background-image: url('../img/buy.jpg');
}

.hero {
    .breadcrumb {
        background: none;
        font-size: 28px;

        .breadcrumb-item.active {
            color: $plava !important;
        }
    }

    .welcome {
        margin-top: 150px;
    }
}

#filters {
    border-bottom: 2px solid #eee;
    padding: 20px;
}

#catalog {
    margin-top: 60px;

    .row {
        margin-bottom: 60px;
    }

    .card-body {
        .card-title {
            font-size: 17px;
            font-weight: 300px;
        }

        p {
            font-size: 14px;
        }

        i {
            color: $plava;
        }

        .price {
            font-size: 18px;
        }
    }

    .modal-body  {
        ul {
            display: inline-block;

            li::before {
                font-family: 'fontawesome';
                line-height: 1;
                content: "\f111";
                color: #1396e2;
                font-size: 8px;
                position: relative;
                bottom: 2px;
                margin-right: 10px;

            }
        }

        .underline {
            margin: 10px 0px 30px;
        }
    }

    #pagination {
        width: 200px;
        margin: 0px auto;
    }
}


/* CONTACT PAGE */
#contactHero {
    min-height: 400px;
    background-image: url('../img/contact.jpeg');
}

#contactInfo {
    padding: 60px 0px;

    .row {
        margin: 30px 0px;
    }
   
    h4 {
        margin-bottom: 30px;
    }

    .iconwtext {

        i {
            background: none;
            color: $plava;
            padding: 5px 0px;
            text-align: left;
            font-size: 32px;
        }

        p {
            font-size: 15px;
        }
    }
}



/* AUTHOR PAGE */
#myself {
    padding-bottom: 60px;

    img {
        border-radius: 3px;
        box-shadow: 6px 6px 5px;
    }

    ul li {
        display: inline-block;
    }
    
}

@media screen and (max-width: 992px) {
  .hero {
      min-height: 500px;
  }  

  #services {
      .sectionTitle {
          text-align: center;
          margin-top: 30px;
      }

      .underline {
          margin: 10px auto 30px;
      }
  }

  #featured {
      #featuredImg {
          order: 1;
      }
      #desc {
          order: 2;
      }
  }

  #success {
      min-height: 450px;
  }

  #latest .imgContainer p {
      font-size: 15px;
  }

  #latest .rightbottom {
      right: 80px;
  }

  #newsletter input {
      width: 90%;
      margin: 20px 0px;
  }

  #newsletter .align-center {
      text-align: center;
  }
} 

@media screen and (max-width: 601px) {
    #heroIndex #headerText {
        margin-top: 13%;
    }

    #latest .imgContainer p {
        font-size: 10px;
    }
    
    #latest .rightbottom {
      right: 20px;
  }

  footer .flinks {
      text-align: center;
  }
}

@media screen and (max-width: 575px) {
    #heroIndex #headerText {
        margin-top: 20%;
    }
    
    #success {
        min-height: 600px;
    }
}
