* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.underline {
  width: 70px;
  height: 5px;
  border-bottom: 4px solid #007bff;
  margin: 10px auto;
  margin-bottom: 40px;
}

.sectionTitle {
  text-align: center;
  padding-top: 60px;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.backgroundImage {
  min-height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 60px;
}

button {
  text-transform: uppercase;
}

.transparent {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* HEADER */
.hero {
  width: 100%;
  min-height: 80vh;
  background-image: url("../img/header.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

.hero #navbar {
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 0.5rem 3rem;
}

.hero a {
  text-transform: uppercase;
  font-size: 16px;
}

.hero a:hover {
  color: #007bff;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.hero #headerText {
  text-align: center;
  margin-top: 7%;
}

.hero #headerText h1 {
  color: #007bff;
}

#heroIndex {
  position: relative;
  margin-bottom: -60px;
}

.blueButton {
  text-transform: uppercase;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  margin-right: 40px;
  margin-top: 40px;
  font-size: 16px;
}

/* FYP */
#fyp {
  min-height: 400px;
}

#fyp select {
  margin-bottom: 1.5rem;
}

#fyp button {
  margin-top: 20px;
}

.containerEdge {
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.containerEdge .sectionTitle {
  padding-top: 30px;
}

/* SERVICES */
#services {
  min-height: 480px;
  background-image: url("../img/service.webp");
  background-size: cover;
  background-position: center;
  padding: 60px 0px;
  color: #fff;
}

#services #statsImg {
  padding-right: 40px;
}

#services .sectionTitle {
  padding-top: 0px;
  text-align: left;
}

#services .underline {
  margin: 10px 0px 30px;
}

.iconwtext {
  margin-bottom: 30px;
}

.iconwtext i {
  height: 60px;
  width: 60px;
  background: #007bff;
  border-radius: 50%;
  text-align: center;
  padding: 14px;
  font-size: 24px;
  margin-right: 30px;
  display: inline-block;
}

.iconwtext div {
  width: 100%;
}

.iconwtext div p {
  font-size: 13px;
}

/* FEATURED PROPERTY */
#featured {
  background-color: #f0f2f7;
  min-height: 550px;
  padding: 60px 0px;
}

#featured .sectionTitle {
  padding-top: 0px;
  text-align: left;
}

#featured .underline {
  margin: 10px 0px 30px;
}

#featured #desc {
  background-color: #fff;
  width: 100%;
  padding: 4rem 4.2rem;
  line-height: 2;
  position: relative;
  top: 0px;
}

#featured #desc p {
  margin: 20px 0px;
}

#featured #desc p:first-child {
  margin-top: 0px;
}

#featured #featuredImg {
  position: relative;
  top: 0px;
  padding: 0px !important;
}

#featured #featuredImg img {
  width: 100%;
}

#featured #desc:hover, #featured #featuredImg:hover {
  -webkit-box-shadow: 1px 8px 20px grey;
          box-shadow: 1px 8px 20px grey;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  top: -5px;
}

/* SUCCESS */
#success {
  background-image: url("../img/success.jpeg");
  color: #fff;
  z-index: 1;
  margin-bottom: -60px;
}

#success .transparent {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

#success #stats {
  margin-top: 10%;
  text-align: center;
  text-transform: uppercase;
}

#success #stats p {
  font-size: 1.5em;
}

#success #stats .number {
  font-size: 1.5em;
  color: #007bff;
}

/* LATEST LIST */
#latest {
  padding-bottom: 60px;
  background-color: #f0f2f7;
}

#latest .containerEdge {
  background-color: #f0f2f7;
}

#latest .row {
  margin-top: 80px;
}

#latest .overlay {
  opacity: 0;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

#latest .imgContainer {
  position: relative;
  color: #fff;
}

#latest .imgContainer:hover .overlay {
  opacity: 1;
}

#latest .imgContainer img {
  position: relative;
}

#latest .imgContainer img:hover {
  -webkit-box-shadow: 1px 8px 20px grey;
          box-shadow: 1px 8px 20px grey;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#latest .leftbottom {
  position: absolute;
  bottom: 2px;
  left: 20px;
}

#latest .rightbottom {
  position: absolute;
  bottom: 2px;
  right: 20px;
}

/* NEWSLETTER */
#newsletter {
  margin: 60px auto;
}

#newsletter input {
  width: 60%;
  margin-right: 40px;
  margin-left: 80px;
}

#newsletter button {
  padding: 5px 40px;
}

/* FOOTER */
footer {
  background-color: #f0f2f7;
  padding-top: 60px;
  padding-bottom: 20px;
}

footer h3 {
  color: #007bff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

footer button {
  padding: 5px 30px;
}

textarea {
  resize: none;
}

/* ABOUT PAGE */
#aboutHero {
  min-height: 400px;
  background-image: url("../img/about.jpeg");
}

#about {
  margin: 60px auto;
}

#about #aboutTitle {
  font-size: 3.5vw;
}

#about p {
  font-size: 1.2em;
  line-height: 2;
}

.breadcrumb {
  padding: 1rem 0px;
}

.breadcrumb a {
  font-size: 20px;
}

/* TESTIMONIALS */
#testimonials {
  background-image: url("../img/review-bg.webp");
  background-position: center;
  background-size: cover;
  padding-bottom: 60px;
  color: #fff;
}

#testimonials #carouselExampleIndicators {
  min-height: 200px;
}

#testimonials .carousel-item {
  margin-bottom: 100px;
}

#testimonials .quotes {
  padding: 30px;
  height: 150px;
}

#testimonials p {
  margin-top: 20px;
  font-size: 18px;
}

#testimonials .testCompany {
  font-size: 15px;
}

#testimonials .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #007bff;
  margin-top: 40px;
}

#meet {
  height: 400px;
  background-color: #f0f2f7;
  padding: 60px 0px;
}

#meet div {
  background-color: #fff;
  padding-top: 70px;
  text-align: center;
}

/* BUY PAGE */
#buyHero {
  min-height: 400px;
  background-image: url("../img/buy.jpg");
}

.hero .breadcrumb {
  background: none;
  font-size: 28px;
}

.hero .breadcrumb .breadcrumb-item.active {
  color: #007bff !important;
}

.hero .welcome {
  margin-top: 10%;
}

#filters {
  border-bottom: 2px solid #eee;
  padding: 20px;
}

#catalog {
  margin-top: 60px;
}

#catalog .row {
  margin-bottom: 60px;
}

#catalog .card-body .card-title {
  font-size: 17px;
  font-weight: 300px;
}

#catalog .card-body p {
  font-size: 14px;
}

#catalog .card-body i {
  color: #007bff;
}

#catalog .card-body .price {
  font-size: 18px;
}

#catalog #pagination {
  width: 200px;
  margin: 0px auto;
}

/* CONTACT PAGE */
#contactHero {
  min-height: 400px;
  background-image: url("../img/contact.jpeg");
}

#contactInfo {
  padding: 60px 0px;
}

#contactInfo .row {
  margin: 30px 0px;
}

#contactInfo h4 {
  margin-bottom: 30px;
}

#contactInfo .iconwtext i {
  background: none;
  color: #007bff;
  padding: 5px 0px;
  text-align: left;
  font-size: 32px;
}

#contactInfo .iconwtext p {
  font-size: 15px;
}

/* AUTHOR PAGE */
#myself {
  padding-bottom: 60px;
}

#myself img {
  border-radius: 3px;
  -webkit-box-shadow: 6px 6px 5px;
          box-shadow: 6px 6px 5px;
}

#myself ul li {
  display: inline-block;
}

#myself .fa {
  padding: 10px 25px 10px 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
}

#myself .fa:hover {
  border-color: #007bff;
}
/*# sourceMappingURL=style.css.map */